* {
  margin: 0;
  padding: 0;
}

#club {
  background-color: #f63232;
  height: 100px;
  text-align: center;
  position: sticky;
  display: block;
  width: 100%;
  z-index: 1;
}

#club2 {
  border: 8px white solid;
  display: inline-block;
  border-radius: 36px;
  padding: 6px 12px;
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}

#bar {
  background-color: rgb(223, 215, 203);
  height: 70px;
  margin: auto;
  text-align: center;
  /* border: 2px red solid; */
  position: sticky;
  top: 100px;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
}
nav li a {
  text-decoration: none;
  /* border: 2px red solid; */
  margin-top: 5px;
  position: absolute;
  color: #4b4b4b;
}
nav li a:hover {
  text-decoration: underline;
  color: rgb(76, 76, 129);
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: #f63232;
  height: 80px;
  width: auto;
  text-align: center;
  color: aliceblue;
  vertical-align: middle;
}

.copyright {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 30px;
}

#box {
  border: 12px rgb(15, 15, 15) solid;
}

article {
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

article h2 {
  font-size: 36px;
  color: #f63232;
}

article p {
  margin-top: 10px;
  font-size: 28px;
  color: #4b4b4b;
  margin-bottom: 100px;
  /* border: 2px red solid; */
  line-height: 50px;
}

#liste2 {
  margin-top: 100px;

  /* width: 70%; */
  position: static;
}

#liste2 li {
  display: inline-block;
  margin: 20px;
  padding: 80px;
  margin-left: 50px;
  position:relative;
}


#liste2 li img {
  /* width: 60%; */
  /* padding:; */
  margin: 10px;
  
}

#sec1 {
  /* border: 5px red solid; */
  width: 100%;
  height: 250px;
  text-align: center;
  margin: auto;

  background-color: rgb(212, 204, 195);
}

#sec1 h2 {
  color: rgb(56, 50, 46);
  font-size: 46px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

#sec1 p {
  color: #4b4b4b;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

input {
  /* border: #4B4B4B 5px solid; */
  font-size: 24px;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
  border: none;
  text-align: center;
}

#input2 {
  border: 5px rgb(88, 173, 88) solid;
}
input:hover {
  cursor: pointer;
}

#foto1 {
  width: 100%;
}

#foto3 {
  width: 70%;
}

#foto2 {
  width: 100%;
}
